<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" text="stylesheet/css">
    <script src="{{ url_for('static', filename='js/index.js') }}" text="type/javascript"></script>
    <script src="https://kit.fontawesome.com/" crossorigin="anonymous"></script>
    <title>To-do List</title>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <p>TO-DO LIST</p>
        </div>
        <div class="navs">
            <li><a href="">Accueil</a></li>
            <li><a href="">Tâches</a></li>
            <li><a href="">Connexion</a></li>
        </div>
    </div>
    <div class="page">
        <div id="liste">
            <div class="titre">
                <h2>Liste des tâches</h2>
            </div>
           <div class="table">
               <button type="button" id="btnajouter">Nouvelle tâche</button>
               {% for task in tasks %}
    <div class="task {% if task['etat'] == 'finished' %}finished{% endif %}">
        <div class="left">
            <strong>{{ task['titre'] }}</strong><br>
            <span>{{ task['description'] }}</span><br>
            <small>{{ task['dateDebut'] }}</small>
        </div>
        <div class="right">
            <input type="checkbox" value="{{ task['id'] }}"
                   {% if task['etat'] == 'finished' %}disabled{% endif %}>
        </div>
    </div>
{% endfor %}
           </div>
        </div>
    </div>
    <div class="footer">
    </div>
</body>

</html>